<!-- <li>
  <%= sigthing.date %>     <%= sigthing.time %>     <%= sigthing.region %>     <%= sigthing.latitude %>     <%= sigthing.longitude %>
</li> -->
<li>
  <a href="/sigthings/<%= sigthing.id %>"><%= sigthing.date %></a>
</li>
